{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <!--  Выводим связанные с продуктом фото (связанные вторичные модели по ForeignKey)
                с помощю _set.all . Вторичная модель пишется через строчные буквы.  -->
        {% for image_item in product.productimage_set.all %}
            <img src="{{ image_item.image.url }}" class="img-fluid mt-4">
        {% endfor %}
      </div>

      <div class="col-lg-6 mt-4">
        <h1 class="text-center">
          {{ product.name }}
        </h1>
        <div class="">
          <p>  Price: {{ product.price }}  </p>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="one-tab" data-bs-toggle="tab" data-bs-target="#one" type="button" role="tab" aria-controls="one" aria-selected="true">
              <h5>Описание</h5>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="two-tab" data-bs-toggle="tab" data-bs-target="#two" type="button" role="tab" aria-controls="two" aria-selected="false">
              <h5>Доставка</h5>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="three-tab" data-bs-toggle="tab" data-bs-target="#three" type="button" role="tab" aria-controls="three" aria-selected="false">
              <h5>Контакты</h5>
            </button>
          </li>
        </ul>

        <div class="tab-content pt-3" id="myTabContent">
          <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
            {{ product.description }}
          </div>
          <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
            <h5>Описание условий доставки</h5>
          </div>
          <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
            <h5>Наши контакты</h5>
          </div>
        </div>

        <div>
          <!--  Атрибут action необходим для считывания url-адреса аджаксом (создаём вьюху)  -->
          <form id="form_buying_product" action="{% url 'basket_adding' %}">{% csrf_token %}
            <div class="input-group mb-3">
              <input type="number" name="num" id="num" class="form-control">
              <!--  Создаём на кнопке data-атрибуты для использвания в jquery  -->
              <button type="submit" class="btn btn-success btn-bye" id="submit_btn"
                      data-product_id="{{ product.id }}"
                      data-product_name="{{ product.name }}"
                      data-product_price="{{ product.price }}"
              >
                Купить
              </button>
            </div>
          </form>

        </div>


      </div>
    </div>
  </div>
{% endblock %}
